<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Our Pretty Sass and Handlebars example</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
  <div class="wrapper">
    <h1>{{title}}</h1> 
  </div>
</body>
</html>